{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "semi": "error",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "react/jsx-filename-extension": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-sort-props": ["warn", { "shorthandLast": true }],
    "react/no-array-index-key": "off"
  }
}